* {
    box-sizing: boxer-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
}

.cabecalho {
    background-color: brown;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-link {
    color: brown;
    text-decoration: none;
}
footer {
    background-color: antiquewhite;
    padding: 15px 25px;
    background-color: brown;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cartao {
    width: 260px;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1000px;
}

h1 {
    color: antiquewhite;
    font-size: 24px;

}

h2 {
    color: brown;
    margin-top: 10px;
    margin-bottom: 10px;

}

.cartao-imagem {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
}

.cartao-interno {
    position: relative;
    width: 100%;
    height: 100%;
    transform: transform;
    transform-style: preserve-3d;
}