* {
    box-sizing: boxer-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
}

.cabecalho {
    background-color: brown;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-link {
    color: brown;
    text-decoration: none;
}
footer {
    background-color: antiquewhite;
    padding: 15px 25px;
    background-color: brown;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}